xaeromap.txt
baritone/readme.txt
baritone/minecraft/overworld_384/cache/r.-1.-1.bcr
baritone/minecraft/overworld_384/cache/r.-1.0.bcr
baritone/minecraft/overworld_384/cache/r.0.-1.bcr
baritone/minecraft/overworld_384/cache/r.0.0.bcr
